<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Markets Summed</title>

    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!--  Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- Custom styles for this template-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/sb-admin-2.min.css')}}" rel="stylesheet" >
    <!--  Font Awesome Icons-->
    <script src="https://kit.fontawesome.com/50563d4ba4.js" crossorigin="anonymous"></script>
    <!--  if your custom styles are not overriding the bootstrap styles, all you need to do is move the link to your custom stylesheet to a line after the bootstrap CDN link-->
    <!--  bundled scripts-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <!-- Custom fonts for this template-->
    <!-- <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"> -->

    <!--  bundled scripts-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</head>

<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fa-solid fa-arrow-trend-up fa-lg"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Markets Summed</div>
            </a>
            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <i class="fa-solid fa-house"></i>
                    <span>Home</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/divergences">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Divergences</span></a>
            </li>

            <!-- Nav Item - Tables -->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="/fearandgreed">-->
<!--                    <span>Technical Indicators</span></a>-->
<!--            </li>-->

            <li class="nav-item">
                <a class="nav-link" href="https://edition.cnn.com/markets/fear-and-greed">
                    <i class="fa-solid fa-face-frown-open"></i>
                    <span>Fear And Greed Index (CNN)</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
            <li class="nav-item">
                <a class="nav-link" href="/about">
                    <span>About</span></a>
            </li>
        </ul>
        <!-- End of Sidebar -->
    </div>

<!-- Navigation-->
<!--    <section id="title">-->
<!--        <nav class="navbar navbar-expand-lg">-->
<!--            <a class="navbar-brand" href="/">StockDivergences.com</a>-->
<!--            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--                <span class="navbar-toggler-icon"></span>-->
<!--            </button>-->
<!--            <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--                <ul class="navbar-nav ms-auto">-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="{{ url_for('choosePage', pageName='home')}}">Divergences used</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="#">Markets</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="{{url_for('choosePage', pageName='about')}}">About</a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </nav>-->
<!--    </section>-->
</body>
</html>